[submodule "include/dynamic_bitset"]
	path = include/dynamic_bitset
	url = https://github.com/pinam45/dynamic_bitset
[submodule "include/folly"]
	path = include/folly
	url = https://github.com/facebook/folly.git
